{
"consumer_key": "abcdefg123456",
"consumer_secret": "abcdefghijklmn1234567890",
"api_url": "https://commons.wikimedia.org/w/index.php",
"redis_host": "redis.server.url",
"redis_prefix": "See https://wikitech.wikimedia.org/wiki/Help:Toolforge#Security",
"session_key": "BlahBlahBlah",
"http_host": "server.url/threed2commons/static/ssu",
"uploads_path": "/local/path/to/uploads",
"ssu_path": "/local/path/to/ssu",
"pwb_site": "commons.wikimedia.org",
"sketchfab_client_id": "Get this from Sketchfab, see: https://sketchfab.com/developers/oauth#registering-your-app",
"sketchfab_client_secret": "Get this from Sketchfab, see: https://sketchfab.com/developers/oauth#registering-your-app",
"sketchfab_redirect_uri": "server.url/threed2commons/oauth2_redirect_sketchfab",
"licenses": ["list", "of", "valid", "licenses"],
"default_license": "default license"
}